$bg: #ff0;

.box {
    /*background-color: $bg;
    &__title {
        color: red;
    } */
    &__image {
        max-width: 50px;
    } 
    &__svg {
        fill: rgb(143, 52, 52);
        &:hover {
            fill: gold;
        }
    }
}


